In [3]:
import pandas as pd

In [4]:
# задача 1
film_ratings = pd.read_csv('ratings.csv')
film_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
def rating_sort (el):
        if el <= 2.0:
            return 'низкий рейтинг'
        elif el <= 4.0:
            return 'средний рейтинг'
        else:
            return 'высокий рейтинг'

In [6]:
film_ratings['class'] = film_ratings['rating'].apply(rating_sort)

In [7]:
film_ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [8]:
my_movies = pd.read_csv('movies.csv')

In [9]:
final_table = film_ratings.merge(my_movies, on = 'movieId', how = 'left')

In [10]:
final_table.head()

,userId,movieId,rating,timestamp,class,title,genres
0,1,31,2.5,1260759144,средний рейтинг,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,средний рейтинг,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,средний рейтинг,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,низкий рейтинг,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,средний рейтинг,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [11]:
# задача 2
key_words = pd.read_csv('keywords.csv')

In [12]:
key_words.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [13]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [26]:
def geo_split(element):
    for region, cities_list in geo_data.items():
        for city in cities_list:
            if city in element:
                return region
    return 'undefined'

In [27]:
key_words['region'] = key_words['keyword'].apply(geo_split)

In [28]:
key_words.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [29]:
key_words['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)